
/****** Fonts ******/

@font-face {
font-family: BebasNeue;
src: url("fonts/BebasNeue.otf") format("opentype");
}

@font-face {
font-family: Junction;
src: url("fonts/Junction.otf") format("opentype");
}

/****** General ******/

html, body {
	height: 100%;
	min-height: 460px;
	position: relative;
}

a {
	text-decoration: none;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}

.centerDiv
{
	/*
	http://stackoverflow.com/questions/114543/how-to-center-a-div-in-a-div-horizontally/16144913#16144913
	*/
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: distribute;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.centerTable {
	display: table;
	width: 100%;
	height: 100%;
	margin: auto;
}

.vCenterText {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-family: inherit;
	font-size: inherit;
}

/****** Body ******/

.main {
	clear: both;
	text-align: center;
	border: 0;
	border-color: black;
	width: 95%;
	max-width: 540px;
	min-width: 300px;
	height: 430px;
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

.titleCard {
	width: 100%;
	height: 100%;
}

.titleBackground {
	width: 100%;
	height: 100%;
	background-image: url('../assets/images/weather.png');	
	background-color: #2ce;
	opacity: 0.3;
	border-radius: 20px;
}

.title {
	position: absolute;
	width: 100%;
	margin: auto;
	top: 50px;
	font-family: sans-serif;
	font-weight: bold;
	letter-spacing: -1px;
	font-size: xx-large;	
}

.subtitle {
	position: absolute;
	width: 100%;
	margin: auto;
	top: 100px;
	font-family: Junction, sans-serif;
	font-weight: bold;
	font-size: large;	
}

.startLoading {
	display: table;
	position: absolute;	
	width: 100%;
	margin: auto;	
	bottom: 30px;
	text-align: center;
}

.buttonStart {
	display: inline-block;
	height: 3em;
	width: 8em;
	font-size: xx-large;
	letter-spacing: 2px;
	border-radius: 10px;
	background-color: #ff9;
}

.buttonStart:hover {	
	background-color: #ffc;
	cursor: pointer;
}

.gamePanel {
	position: relative;
}

.scoreBarContainer {
	width: 100%;
	margin: auto;
}

.highScore {
	position: relative;
	font-size: medium;
	letter-spacing: 1px;
	top: -26px;
	right: 8px;
	text-align: right;
}

.prompt {
	margin: auto;
}

.message {
	font-family: Junction, sans-serif;
	font-size: medium;
	margin: 0 0 5px 0; 
}

.weatherTemp {
	display: inline-block;
	margin: 5px 10px 5px 10px;
	padding: 5px;
	border-radius: 10px;
}

.high {	
	background-color: #e6cccc;
}

.low {	
	background-color: #cccce6;
}

.tempLabel {
	font-size: 15px;
	margin-bottom: 5px;
	letter-spacing: 2px;
}

.temp {
	font-size: 25px;
}

.weatherCondition {
	display: inline-block;
	border-radius: 10px;
	font-family: Junction, sans-serif;
	font-size: small;
	padding: 5px 15px 5px 15px;
}

.optionList {
	width: 100%;
	text-align: center;
	margin-top: 5px;
}

.option {
	height: 2.4em;
	width: 70%;
	display: table;
	font-size: 20px;
	border-radius: 10px;
	background-color: #B2D1FF;
	letter-spacing: 2px;
}

.option:hover {
	cursor: pointer;
	background-color: #C9DFFF;
}

.correct {
	background-color: #94BF94;
}

.chosen {
	font-weight: bold;
	background-color: #F0B2B2;
}

.chosen:hover {
	background-color: #F0B2B2;
}

.correct.chosen {
	font-weight: bold;
	background-color: #94BF94;
}

.correct:hover {
	background-color: #94BF94;
}

.buttonNext {
	margin: auto;
	margin-top: 10px;
	display: table;
	height: 2.5em;
	width: 50%;
	font-size: 16px;
	letter-spacing: 2px;
	border-radius: 10px;
	cursor: pointer;
}

.buttonNextRound {
	background-color: #ddd;
}

.buttonNextRound:hover {	
	background-color: #eee;
	cursor: pointer;
}

.buttonNextGame {	
	background-color: #ff9;
}

.buttonNextGame:hover {	
	background-color: #ffc;
	cursor: pointer;
}

/****** Overriding Bootstrap Progress Bar ******/
.progress {
	margin-bottom: 5px;
}

.progress-bar {
	white-space: nowrap;
	-webkit-box-shadow: none;
		box-shadow: none;
	color: black;
	text-align: left;
	letter-spacing: 2px;
}

.progress-bar-warning {
  background-color: #ccc;
}

.progress-bar-success {
  background-color: #94BF94;
}

.roundBar .progress {
	height: 15px;
}
.scoreBar .progress {
	height: 30px;
}

.roundBar .progress-bar {
	font-size: 15px;
	line-height: 17px;
}

.scoreBar .progress-bar {
	font-size: 20px;
	line-height: 34px;
}
