<!doctype html>
<html ng-app="weatherGame">
	<head>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
		<script type="text/javascript" src="js/weatherGame.js"></script>
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">		
		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>
  	<body ng-controller="gameController" ng-init="loadNextQuestion()">
  		<div class="main">	  		
			<div class="titleCard" ng-show="gameState == 'newGame'">				
				<div class="title">
					Weather Game!
				</div>
				<div class="buttonStart" ng-click="startGame()" ng-show="!waitForAjax">Start Game</div>
				<div class="startLoading" ng-show="waitForAjax">
					<i class="fa fa-spinner fa-spin fa-5x"></i>
				</div>	
			</div>

			<div class="gamePanel" ng-hide="(gameState == 'newGame')">
				<div class="scoreboard">	  			  		
		  			<div class="scoreboardItem">Round: {{round}} / {{maxRounds}}</div>
		  			<div class="scoreboardItem">Score: {{score}}</div>
		  			<div class="scoreboardItem">High Score: {{bestScore}}</div>
		  		</div>
		  		<div class="gameLoading" ng-show="waitForAjax">
					<i class="fa fa-spinner fa-spin fa-5x" ng-show="waitForAjax"></i>
				</div>	
		  		<div class="gameboard" ng-hide = "((gameState == 'question') && waitForAjax)">
					<div class="weather">
					In which city is this today's weather?
						<div class="weatherHigh">High:{{correctCityWeather.high}}</div>
						<div class="weatherLow">Low:{{correctCityWeather.low}}</div>
						<div class="weatherCondition">{{correctCityWeather.condition}}</div>			
					</div>		
					<div class="optionList centerDiv" ng-repeat = "o in options">
						<div ng-class="{option:true, correct: (gameState == 'answer' || gameState == 'gameOver') && (o.id == correctCityIdx), chosen: (gameState == 'answer' || gameState == 'gameOver') && (o.id == guessIdx)}" ng-click="guess(o.id)">
								{{o.city}}
						</div>				
					</div>
				</div>
			</div>
			<div class="nextRound" ng-show="(gameState == 'answer') && (round < maxRounds)" ng-click="beginRound()">
				Next Round
			</div>
			<div class="nextGame" ng-show="(gameState == 'gameOver')" ng-click="startGame()">
				Start Over
			</div>
		</div>
	</body>
</html>
